# -e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@master#egg=cloudify-plugins-common==3.4a5
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/CFY-3691-secure-internal-requests.zip
